
<div class="container-fluid bg-film p-60-0">
    <div class="container">
        <section class="list-film">
            <div class="d-flex justify-content-center">
                <h2 class="fs-24 cl-gray-100 fb-600">Phim đang chiếu nè</h2>
            </div>
            <div class="slick-slider-container position-relative">
                <div class="arrow-right">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black" width="25">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M9 5l7 7-7 7"
                              class="jsx-e578d0d4db58f284"></path>
                    </svg>
                </div>
                <div class="arrow-left">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black" width="25">
                        <path stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M15 19l-7-7 7-7"
                              class="jsx-e578d0d4db58f284"></path>
                    </svg>
                </div>
                <div class="list-film__container d-flex mt-5">
                    @foreach(var phim in ViewBag.listphim)
                    {
                        <div class="list-film__item p-0 mr--7 col-2_4 col-md-3 col-4">
                            <a asp-controller="Home" asp-action="ChiTietPhim" asp-route-maPhim="@phim.MaPhim">
                                <div class="over-hid br-5">
                                    <img class="w-100 d-block film__item-zoom transition-transform"
                                     src="@phim.AnhDaiDien"
                                     alt="" />
                                </div>
                            </a>
                            <div class="mt-3">
                                <a asp-controller="Home" asp-action="ChiTietPhim" asp-route-maPhim="@phim.MaPhim">
                                    <h2 class="cl-gray-100 fs-17">@phim.TenPhim</h2>
                                </a>
                            </div>
                            <h3 class="fs-13 cl-gray-600">@phim.TheLoai</h3>
                            <div class="d-flex align-items-center">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke="green"
                                 class=""
                                 width="20">
                                    <path stroke-linecap="round"
                                      stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M14 10h4.764a2 2 0 011.789 2.894l-3.5 7A2 2 0 0115.263 21h-4.017c-.163 0-.326-.02-.485-.06L7 20m7-10V5a2 2 0 00-2-2h-.095c-.5 0-.905.405-.905.905 0 .714-.211 1.412-.608 2.006L7 11v9m7-10h-2M7 20H5a2 2 0 01-2-2v-6a2 2 0 012-2h2.5"
                                      class=""></path>
                                </svg>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </section>
    </div>
</div>